* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    line-height: 1.5;
}

.body {
    color: #4d4e53;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    height: 100vh;
}

body::-webkit-scrollbar {
    display: none; /* Для Chrome, Safari и Opera */
}

#navbar ul {
    list-style: none;
}

.main {
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
}

a {
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    border-top: 1px solid #4d4e53;
    padding: 5px 30px;
    color: #4d4e53;
    display: block;
}

.navTitle {
    padding: 10px 30px;
}

.title {
    font-size: 1.9em;
    color: black;
}

.item:hover {
    background-color: #d8d9de;
}

.accent {
    color: #f9f903;
}

.red {
 background-color: rgb(178, 125, 125);
 padding: 0 5px;
}

#navbar {
    position: fixed;
    min-width: 290px;
    top: 0;
    left: 0;
    max-width: 300px;
    height: 100%;
    border-right: solid;
    background-color: rgba(174, 174, 177, 0.84);
    border-color: rgba(0, 22, 22, 0.4);
}

#navbar ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

ul::-webkit-scrollbar {
    display: none; /* Для Chrome, Safari и Opera */
}

p {
  padding: 0 30px 10px 30px;
}

h3 {
  padding: 10px 30px 5px 30px;
  color: #121314;
}

h4 {
  text-align: center;
  font-size: 18p;
}

ul {
    padding: 0 80px 15px 80px;
}

.accentPadding {
    padding: 10px 50px 0 50px;
}

/* li {
    padding-bottom: 15px;
} */

li:last-child {
    padding-bottom: 0;
}

.MDN {
    display: inline;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    border-top: 0;
    padding: 0;
    margin: 0;
    color: #1d35b3;
}

.codeText {
  background-color: rgba(151, 152, 160, 0.55);
  padding: 0 10px;
  color: rgb(105, 109, 105);
}

code {
    background-color: rgba(211, 212, 207, 0.55);
    padding: 10px  20px 10px  20px;
    display: block;
    margin-left: 30px;
}

.practicalWrapper {
  margin: 15px 0;
  border-radius: 25px;
  background-color: rgba(211, 212, 207, 0.55);
}

.practical {
  text-align: center;
  font-size: 22px;
}

.center {
  padding: 10px 60px;
  color: #121314;
  font-weight: 400;
}

@media (max-width: 790px) {
    #navbar {
        position: static;
        margin: 0;
        max-width: 100%;
        text-align: center;
    }
    a {
        padding: 3px;
    }

    .main {
        position: static;
        margin: 0;
    }
    .item {
        padding: 0;
    }

 .container {
     display: flex;
     flex-direction: column;
 }
}

.submenu {
  display: none;
  list-style-type: none;
  padding-left: 20px;
}

.submenuItem {
  background-color: rgba(174, 174, 177, 0.84);
}

.item:hover .submenu {
  display: block;
}

.submenuItem:hover {
  background-color: #d8d9de;
}

@media (max-width: 520px) {
    .main {
        position: static;
        margin: 0;
    }

    #navbar {
        position: static;
        margin: 0;
        width: 100%;
        min-width: 100%;
        text-align: center;
    }

    .container {
        display: flex;
        flex-direction: column;
    }
}

table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}

.void {
  height: 200px;
}